<mat-card class="card-container" appearance="raised">
<div *ngIf="!showConfirmation">
    <mat-card class="confirm-card" appearance="raised">
    <h1 class="header-confirm">Sign to Confirm</h1>
    <app-signature (signatureChange)="signatureData = $event"></app-signature>
    <br>
    <br>
    <button matButton="elevated" class="confirm" (click)="confirm()">Download</button>
    </mat-card>
</div>
<div *ngIf="showConfirmation">
    <mat-card class="confirm-card" appearance="raised">
       <h1>Download Successful<mat-icon class="success">done</mat-icon></h1>
    </mat-card>
</div>
</mat-card>
