/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{
    margin: 100px;
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.card-container{
    margin: 1em;
}